@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    background: cyan;
    color: green;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
}

#holder {
    align-content: center;
    text-align: center;
    color: #ff5e00;
    border: 0px;
    margin-top: 20px;
}

h1 {
    border: 0px;
    margin: 20px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;

}



button {
    border: 2px;
    border-radius: 4px;
    width: 250px;
    height: 35px;
    background:red;
    padding: 3px;
    color: #232B2B;
    font-size: 22px;
}

#imageDiv{
    background: url('open.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto 540px;
    height: 200px;
    width: 340px;
}
